<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BrightCoveImplemetation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>eom_import_server_port</param-name>
  	<param-value>8080</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_account_id</param-name>
    <param-value>5436121856001</param-value>
  </context-param>
  
  <context-param>
    <param-name>brightcove_video_limit_per_page</param-name>
    <param-value>20</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_client_id</param-name>
    <param-value>d33c4678-d5a4-4ad9-93f5-a8cf5f85af1b</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_client_secret</param-name>
    <param-value>qFfkMP_e07T2oO00uFnetpUWJRFAMauaXHPhgr5DHhKmISjuT_xIU-eDc80IUYygGIzyHqupWSmvX2VxRK6v8Q</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_auth_url</param-name>
    <param-value>https://oauth.brightcove.com/v3/access_token</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_cms_video_url</param-name>
    <param-value>https://cms.api.brightcove.com/v1/accounts/:account-id/videos</param-value>
  </context-param>
  <context-param>
    <param-name>brightcove_cms_video_count_url</param-name>
    <param-value>https://cms.api.brightcove.com/v1/accounts/:account-id/counts/videos</param-value>
  </context-param>
  <context-param>
		<param-name>brightcoveWebpanelPort</param-name>
		<param-value>8080</param-value>
	</context-param>
  <listener>
    <listener-class>uk.co.news.methode.listener.RequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>uk.co.news.methode.listener.BrightcoveContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>brightcoveApi</servlet-name>
    <servlet-class>uk.co.news.methode.servlets.BrightcoveAPIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>brightcoveApi</servlet-name>
    <url-pattern>/brightcove/api</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>brightcoveSearch</servlet-name>
    <jsp-file>/brightcove/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>brightcoveSearch</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BrightcoveMethodeImport</servlet-name>
  	<servlet-class>uk.co.news.methode.servlets.BrightcoveMethodeImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BrightcoveMethodeImport</servlet-name>
  	<url-pattern>/brightcove/methode-import</url-pattern>
  </servlet-mapping>
 
</web-app>